{% extends 'index.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Django Voting App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#instruccions">Instruccions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#result">Result</a>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Volver</a>
      </li>
    </ul>
  
</div>
</nav>

<div class="container-fluid" style="margin-bottom: 5rem;">
  <div class="row">
      <div class="col-md-6" style="margin: 1rem auto 0 auto;">
          <img src="{% static 'logo2.webp' %}" alt="logo" class="img-fluid" style="display: block; margin: 0 auto;">
          <div class="card">
              <div class="card-body">
                  <form method="get" action="{% url 'getquery' %}">
                    <input list="languages" class="form-control" style="margin-bottom: 1rem;" name="languages">
                    <datalist  id="languages">
                      {% for i  in arr %}
                      <option value="{{ i }}"></option>
                      {% endfor %}
                    </datalist>
                      <div class="row">
                          <div class="col-md-6">
                              <input type="submit" class="btn btn-success" style="display: block; margin: 0 auto;">
                          </div>
                          <div class="col-md-6">
                              <input type="reset" class="btn btn-danger" style="display: block; margin: 0 auto;">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" style="margin-top: 1rem;">
  <div class="col-md-6" style="margin: 2rem auto 0 auto;">
    <p class="badge text-bg-warning" id="about" name="result" style="text-align: center;
      margin: 0 auto; display: block; font-size: 2rem;">
          Result
      </p>
      <hr>
      <p class="lead" style="text-align: center;">
        Result Table
        <a href="{% url 'sortdata' %}" class="btn btn-primary">Sort Data In Descending Order</a>
      </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8" style="margin: 0 auto;">
    <div class="table-responsive">
      <table class="table caption-top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Language</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          {% for key,value in globalcnt.items %}
            <tr>
              <th scope="row">{{ forloop.counter}}</th>
              <td>{{ key }}</td>
              <td>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: calc({{ value }} / {{ max }} * 100%)">{{ value }}</div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 0rem;">
  <div class="col-md-6" style="margin: 2rem auto 0 auto;">
      <p class="badge text-bg-success" id="about" name="about" style="text-align: center;
      margin: 0 auto; display: block; font-size: 2rem;">
          About
      </p>
      <hr>
      <p class="lead" style="text-align: center;">
          Pick your favorite language and vote
      </p>
  </div>
</div>
<div class="row" style="margin-bottom: 20rem;">
  <div class="col-md-6" style="margin: 2rem auto 0 auto;">
    <p class="badge text-bg-danger" id="about" name="about" style="text-align: center;
      margin: 0 auto; display: block; font-size: 2rem;">
          Instruccions
      </p>
      <hr>
      <p class="lead" id="instruccions" name="instruccions" style="text-align: center;">
          Select your language and see results
      </p>
      
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <footer class="fixed-bottom navbar-light" style="background: black; color: white; text-align: center;">
          <p>Thanks for using our app!</p>
      </footer>

  </div>
</div>
{% endblock content %}
